header {
  background-color: #A0522D;
  font-family: "Lucida Handwriting", cursive;      
  position: relative;
  padding: 20px;
  margin: 0px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.logo {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 125px;
}

header h1 {
  color: #ffd700;
  text-align: left;
  font-size: 40px;
  margin: 15px;
  max-width: 30%;
  height: auto;
}

.navbox {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  z-index: 2;
}

nav a {
  background-color: #B22222!important;
  font-family: Georgia, serif;
  margin: 50px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  color: #F5F5DC;
}

nav a:hover {
  cursor:pointer;
  font-size: 20px;
  background-color: #ff8c00;
}

body {
  text-align: center;
  font-family: Georgia, sans-serif;
}

.imgbox {
   background-image: url("../img/fall.jpg");
   background-color: #ffffcc;
   height: 800px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   padding: 20px;
}
  
.eventlist {
  background-image: url("../img/paper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -60%);
  width: 400px;
  height: 500px;
  padding: 30px;
  border: 8px double #8b4513;
  border-radius: 20px;
  color: black;
  font-family: Georgia, serif;
  font-size: 20px;
  max-width: 90%;
  padding: 20px;
}

.eventlist h2 {
  font-family: Georgia, sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
  color: #5a3e1b;
}

.eventlist ul {
  list-style-type: square;
  padding-left: 20px;
}

footer {
  background-color: #A0522D;
  color:white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  header h1 {
   font-size: 1.5rem;
   max-width: 100%;
  }

  .mainp {
   font-size: 18px;
  }
}

@media (max-width: 480px) {
  header h1 {
   font-size: 1.2rem;
  }
  .navbox {
   position: static;
   flex-direction: column;
   margin-top: 10px;
  }
  .eventlist {
   font-size: 16px;
   padding: 15px;
  }
  nav a {
   margin: 5px;
   padding: 8px 16px;
   font-size: 14px;
 }
}